<<<<<<< HEAD
main {
    text-align: center;
}
#about {
    width: 100%;
    color: navy;
}
=======
main {
    text-align: center;
}
#about {
    width: 100%;
    color: navy;
}
>>>>>>> origin/master
